# Bac à sable

## Check header CSV source

In [77]:
import os.path
import pandas as pd
import numpy

### Paramètres

In [89]:
UPLOAD_FOLDER = 'uploads'
DOWNLOAD_FOLDER = 'downloads'
EXPORT_FILENAME = 'points.scr'
ALLOWED_EXTENSIONS = {'profil': 'csv','lidar': 'csv','dxf2kml': 'dxf', 'vc_lidar':'csv'}
SOURCE_FILE = '../static/data_sample/LIDAR_profile.csv'
CSV_COLUMS = {'lidar':'distance,altitude,color_packed,intensity,classification,coords',
              'profil':'distance,bathymetry,mns,mnt,x,y',
              'vc_lidar':'distance,altitude,color_packed,intensity,classification,coords'}
LIDAR_CLASSIFICATION_IGNORE = [4,5,6]

In [3]:
print(type(CSV_COLUMS['profil']))

<class 'str'>

### Fonctions de contrôle

In [46]:
def allowed_file(filename:str, conversion: str) -> bool:
    extension = get_file_extension(filename)
    return True if extension == ALLOWED_EXTENSIONS[conversion] else False

def get_file_name(filepath: str) -> str:
    return filepath.split('/')[-1]

def get_file_extension(filename: str) -> str:
    return filename.rsplit('.', 1)[1].lower()

def get_first_line(file: str) -> list:
    with open(file, encoding='utf-8-sig') as f:
        first_line = f.readline().strip('\n')
    first_line = first_line.replace('"', '')
    return first_line.split(",")

# -------------------

def check_valid_header_csv(file: str, conversion: str) -> bool:
    src_header =get_first_line(file)
    request_header = CSV_COLUMS[conversion].split(",")
    return True if src_header == request_header else False


def check_file_extension(file: str, extension: str) -> bool:
    return True if file.rsplit('.', 1)[1].lower() == extension else False

def check_valid_csv_header(file: str, convertion: str) -> bool:
    with open(file, encoding='utf-8-sig') as f:
        first_line = f.readline().strip('\n')

    a = first_line.replace('"', '').split(",")
    b = tuple(CSV_COLUMS[convertion])
    return True if a == b else False





def csv_header_check(df):
    source_colums = get_csv_header(df)
    if source_colums == CSV_COLUMS['profil'] or source_colums == CSV_COLUMS['lidar']:
        return True
    else:
        return False

def get_csv_header(df):
    return df.columns

def get_csv_type_profile(df):
    if csv_header_check(df) :
        source_colums = get_csv_header(df)
        if source_colums == CSV_COLUMS['profil']:
            return 'profile'
        else:
            return 'lidar'
    else:
        return

### Tests des fonctions

#### Nom du fichier et extention

In [60]:
file = SOURCE_FILE

print(get_file_name(SOURCE_FILE))
print(get_file_extension(SOURCE_FILE))
filename = get_file_name(SOURCE_FILE)
print(filename)
print(get_file_extension(filename))

LIDAR_profile.csv
csv
LIDAR_profile.csv
csv

### Retourne l'extension attendu pour chaque type de conversion

In [12]:
print(ALLOWED_EXTENSIONS['profil'])
print(ALLOWED_EXTENSIONS['lidar'])
print(ALLOWED_EXTENSIONS['dxf2kml'])
print(ALLOWED_EXTENSIONS['vc_lidar'])

csv
txt
dxf
csv

### Contrôle si l'extenmsion est celle attendue pour la conversion

In [61]:
print(allowed_file(filename, 'lidar'))

True

### Contrôle de l'extension selon la conversion

In [62]:
if allowed_file(filename, 'profil'):
    print("File type OK")
else:
    print("File type error")

File type OK

### Lire la première line du fichier

In [63]:
print(get_first_line(SOURCE_FILE))
print(type(get_first_line(SOURCE_FILE)))

['distance', 'altitude', 'color_packed', 'intensity', 'classification', 'coords']
<class 'list'>

### Contrôle si l'en-tête est celle attendue

In [64]:
check_valid_header_csv(file, 'lidar')
# print(check_valid_csv_header(file,CSV_COLUMS['profil']))

True

#### Chargement du fichier CSV dans le dataframe

In [65]:
df = pd.read_csv(file)

#### Récupère les noms de colonnes dans une liste

In [66]:
print(df.columns.to_list())

['distance', 'altitude', 'color_packed', 'intensity', 'classification', 'coords']

#### Affiche les valeurs attendues pour profil et lidar

In [56]:
print(CSV_COLUMS['lidar'].split(","))
print(type(CSV_COLUMS['lidar'].split(",")))
print(CSV_COLUMS['profil'].split(","))
print(CSV_COLUMS['vc_lidar'].split(","))

['distance', 'altitude', 'color_packed', 'intensity', 'classification', 'coords']
<class 'list'>
['distance', 'bathymetry', 'mns', 'mnt', 'x', 'y']
['distance', 'altitude', 'color_packed', 'intensity', 'classification', 'coords']

### Nom fichier de sortie

In [67]:
print(filename.split(".")[0] + ".scr")

LIDAR_profile.scr

### Créer un dataframe avec les colonnes nécessaires

In [101]:
df = df[['distance', 'altitude', 'classification']]
print(df)

      distance  altitude  classification
0         0.25   458.153              31
1         0.25   458.154              31
2         0.26   458.041               2
3         0.43   458.123               2
4         1.92   458.078               2
...        ...       ...             ...
2257    418.04   430.447               4
2258    418.16   431.824               4
2259    418.42   432.178               4
2260    418.96   429.937               4
2261    420.14   429.300              41

[2262 rows x 3 columns]

### Créer des groupes par classification

In [102]:
gb = df.groupby('classification')
print(type(pd.unique(df['classification'])[0]))

for g in gb:
    print(g)

<class 'numpy.int64'>
(2,       distance  altitude  classification
2         0.26   458.041               2
3         0.43   458.123               2
4         1.92   458.078               2
5         1.92   458.079               2
6         2.37   458.157               2
...        ...       ...             ...
2146    385.54   429.130               2
2151    386.28   429.369               2
2152    386.28   429.369               2
2213    406.62   429.121               2
2214    406.62   429.121               2

[379 rows x 3 columns])
(3,       distance  altitude  classification
274      84.46   460.507               3
356      90.85   460.308               3
369      92.90   460.171               3
370      92.90   460.171               3
581     123.73   459.457               3
...        ...       ...             ...
2242    413.73   429.409               3
2245    414.18   429.669               3
2246    414.84   429.610               3
2247    415.45   429.283               3
2248    415.45   429.283               3

[98 rows x 3 columns])
(4,       distance  altitude  classification
225      79.66   461.639               4
228      79.95   461.779               4
238      81.69   461.926               4
239      81.77   461.577               4
244      82.14   461.844               4
...        ...       ...             ...
2256    418.04   430.446               4
2257    418.04   430.447               4
2258    418.16   431.824               4
2259    418.42   432.178               4
2260    418.96   429.937               4

[495 rows x 3 columns])
(5,       distance  altitude  classification
218      78.66   467.382               5
219      78.76   468.187               5
220      78.76   468.187               5
221      79.03   465.588               5
222      79.03   465.589               5
...        ...       ...             ...
2119    382.04   432.718               5
2120    382.04   432.719               5
2121    382.13   432.762               5
2126    382.88   432.730               5
2133    383.53   432.387               5

[473 rows x 3 columns])
(6,       distance  altitude  classification
408     101.17   463.087               6
410     101.61   463.552               6
411     101.61   463.553               6
412     101.79   462.591               6
413     101.79   462.591               6
...        ...       ...             ...
1599    288.03   434.327               6
1604    289.04   434.132               6
1605    289.07   434.132               6
1610    290.57   434.363               6
1611    290.64   434.474               6

[181 rows x 3 columns])
(9,       distance  altitude  classification
2160    389.47   429.131               9
2161    389.47   429.132               9
2184    398.91   429.139               9
2224    407.90   429.168               9
2243    413.85   429.113               9
2255    416.92   429.173               9)
(18,       distance  altitude  classification
16        5.37   458.209              18
17        5.91   458.123              18
23        8.50   458.133              18
32       11.50   458.262              18
35       12.01   458.194              18
...        ...       ...             ...
2189    400.51   429.308              18
2234    412.18   429.196              18
2235    412.18   429.197              18
2251    415.55   429.167              18
2252    415.55   429.168              18

[186 rows x 3 columns])
(21,      distance  altitude  classification
468    112.29   460.062              21
473    113.03   460.774              21
477    113.37   460.839              21
491    114.08   460.324              21)
(22,       distance  altitude  classification
409     101.35   460.524              22
416     102.14   460.320              22
442     107.08   460.334              22
550     118.04   461.034              22
556     118.36   460.782              22
557     118.36   460.782              22
560     118.73   460.325              22
582     123.88   462.115              22
586     124.89   462.240              22
587     124.89   462.240              22
609     128.18   460.493              22
780     155.58   457.430              22
783     156.49   457.514              22
787     156.80   457.880              22
791     157.17   457.274              22
799     159.16   455.716              22
800     159.32   458.082              22
804     159.57   458.024              22
814     160.56   454.526              22
815     160.56   454.526              22
816     160.67   455.711              22
817     161.17   457.368              22
821     161.80   454.267              22
826     162.81   455.678              22
833     163.59   457.529              22
836     163.98   457.747              22
837     163.99   456.346              22
840     164.79   457.885              22
842     164.90   456.623              22
846     165.95   455.240              22
847     165.95   455.240              22
849     166.27   457.094              22
852     166.35   455.892              22
856     167.12   456.288              22
857     167.12   456.288              22
858     167.57   454.594              22
887     170.88   454.310              22
1153    235.59   442.557              22
1154    235.59   442.557              22
1157    236.02   442.562              22
1158    236.14   442.211              22
1587    285.86   437.009              22
1588    285.86   437.010              22)
(25,      distance  altitude  classification
855    166.94   453.844              25
990    194.07   450.132              25
994    195.45   448.579              25
995    195.45   448.579              25)
(26,       distance  altitude  classification
1134    228.97   447.423              26)
(31,       distance  altitude  classification
0         0.25   458.153              31
1         0.25   458.154              31
8         3.58   458.193              31
9         3.58   458.193              31
11        3.96   458.108              31
...        ...       ...             ...
2135    384.33   429.187              31
2136    384.33   429.187              31
2142    384.77   429.147              31
2153    386.51   429.300              31
2154    386.83   429.137              31

[363 rows x 3 columns])
(41,       distance  altitude  classification
2063    375.12     429.3              41
2076    376.75     429.3              41
2087    378.63     429.3              41
2156    388.11     429.3              41
2157    388.11     429.3              41
2158    388.45     429.3              41
2159    389.05     429.3              41
2166    391.87     429.3              41
2167    391.87     429.3              41
2169    392.21     429.3              41
2170    392.29     429.3              41
2172    393.83     429.3              41
2174    395.71     429.3              41
2175    395.71     429.3              41
2178    397.93     429.3              41
2192    401.10     429.3              41
2193    401.10     429.3              41
2194    401.78     429.3              41
2199    402.64     429.3              41
2201    403.58     429.3              41
2202    403.66     429.3              41
2207    404.94     429.3              41
2210    405.80     429.3              41
2212    406.48     429.3              41
2223    407.76     429.3              41
2228    409.64     429.3              41
2231    410.58     429.3              41
2233    412.12     429.3              41
2261    420.14     429.3              41)

### Liste les classifications à ignorer

In [103]:
print(LIDAR_CLASSIFICATION_IGNORE)
print(type(LIDAR_CLASSIFICATION_IGNORE))

[4, 5, 6]
<class 'list'>

### Filtre le dataframe sans les classifaction à ignorer

In [104]:
df_filtred = df[~df.classification.isin(LIDAR_CLASSIFICATION_IGNORE)]
print(df_filtred)

      distance  altitude  classification
0         0.25   458.153              31
1         0.25   458.154              31
2         0.26   458.041               2
3         0.43   458.123               2
4         1.92   458.078               2
...        ...       ...             ...
2248    415.45   429.283               3
2251    415.55   429.167              18
2252    415.55   429.168              18
2255    416.92   429.173               9
2261    420.14   429.300              41

[1113 rows x 3 columns]